# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:example-deployment-123 # team: example-team, project: example-project
CONVEX_URL=https://example-deployment-123.convex.cloud
CONVEX_SITE_URL=https://example-deployment-123.convex.site

NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dummy
NUXT_CLERK_SECRET_KEY=sk_test_dummy
